<!DOCTYPE html>
<html>

  <head>
    <!-- Standard Meta -->
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet">
    <link rel="icon" href="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png" type="image/gif" sizes="16x16">
    <meta name="viewpocustomerrt" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link type="text/css" href="./styles/styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Site Properties -->
    <title>Homepage - Semantic</title>

    <script src="assets/library/jquery.min.js">console.log('r8unnoing')

</script>
