<% include partials/header %>

<script>
 addToTable = () => {
   console.log('ADDTOPTABLE!!');
   name = $("#cusFirstName").val();
        surname = $("#cusLastName").val();
        address = $("#cusAddress").val();
        emails = $("#cusEmail").val();

    
    $('tbody').prepend(`<tr><td>${name}</td><td>${surname}</td><td>${address}</td><td>${emails}</td></tr>`);
};
</script>

<div class="ui container" id="newCusFormMain">
  <div class="ui huge header">Create a New Customer</div>
  <form class="ui form" action="/newCustomer" method="POST">
  <div class="field">
    <label>First Name</label>
    <input id="cusFirstName" type="text" name="cusFirstName" placeholder="First Name">
  </div>
  <div class="field">
    <label>Last Name</label>
    <input id="cusLastName" type="text" name="cusLastName" placeholder="Last Name">
  </div>
  <div class="field">
    <label>Address</label>
    <input id="cusAddress" type="text" name="cusAddress" placeholder="Address">
  </div>
  <div class="field">
    <label>Email</label>
    <input id"cusEmail" type="text" name="cusEmail" placeholder="Email">
  </div>
  <button onclick='addToTable()' class="ui button" type="submit">Submit</button>
  </form>
</div>


<table class="ui selectable celled table">
 <thead>
   <tr>
     <th>Name</th>
     <th>Last</th>
     <th>Address</th>
     <th>Email</th>
   </tr>
 </thead>
 <tbody>
 </tbody>
</table>


<script>

$.post('/getCustomerInfo',{},function(err,res){
  console.log(err,res);
  res
});
info=[{name:'johnbl', email:"ksjdhf@kjdshfj.com"}, {name:'johnbl3', email:"rerdhf@kjdshfj.com"}]
for (let i=0; i<info.length;i++){
  $('tbody').prepend(`<tr><td>${info[i].name}</td><td>${info[i].email}</td><td>${"BLAH BLAH"}</td></tr>`);
}
if (!localStorage.getItem('customerInfo')){
 /*$.get('/getUserInfo', (response, err) => {
    const customers = response;
   // [ {name:'blah blah', email:'skjhdfkjs@dlkjha.com'},...]
  });*/
}
localStorage.setItem('customerInfo','pen');
</script>
<%include partials/footer %>
