<!DOCTYPE html>
<html>
 <head>
   <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet">
   <link type="text/css" href="/stylesheets/app.css" rel="stylesheet">
    <meta charset="utf-8">
   <title>CRM Test3</title>
 </head>
 <body>
   <div class="ui fixed inverted menu">
           <div class="ui container">
               <div class="header item"><i class="users icon"></i>CRM Site</div>
               <a href="/" class="item">Home</a>
               <a href="/customers/new" class="item">New Customer</a>
               <a href="/logout" class="item">Logout</a>
           </div>
       </div>
       </body>
       </html>