<% include partials/header %>

    <div class="ui container" id="orgNameForm">
      <form class="ui form" action="/newOrganization" method="POST" >
        <div class="field">
          <label>Organization Name</label>
          <input type="text" name="orgName" placeholder="First Name">
        </div>
       <div class="field">
         <label>First Name</label>
         <input type="text" name="givenName" placeholder="First Name" value="<%= user.givenName %>">
       </div>
       <div class="field">
         <label>Last Name</label>
         <input type="text" name="surname" placeholder="Last Name" value="<%= user.surname %>">
       </div>
       </div>
          <button class="ui button" type="submit">Submit</button>
      </form>
    </div>
</body>
</html

      <a class="item">Login</a>
      <a class="item">Signup</a>
    </div>
<%include partials/footer %>
