<% include partials/header %>
<script>
const logout=()=>{
  var form = document.createElement('form');
  form.method = "POST";
  form.action = "/logout";
  form.submit();
};
</script>
    <div class="ui container" id="orgNameForm">
      <form class="ui form" action="/newOrganization" method="POST" >
        <div class="field">
          <label>Organization Name</label>
          <input pattern=".{3, 15}" type="text" name="orgName" placeholder="First Name">
        </div>
       <div class="field">
         <label>First Name</label>
         <input type="text" name="givenName" placeholder="First Name" value="<%= user.givenName %>">
       </div>
       <div class="field">
         <label>Last Name</label>
         <input type="text" name="surname" placeholder="Last Name" value="<%= user.surname %>">
       </div>
       <button class="ui button" type="submit">Submit</button>
       </div>
      </form>
    </div>
</body>
</html


    </div>
    <button onclick='logout()'>Logout</button>
<%include partials/footer %>
